body {
  background-color: #4e8ec2;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
  background: linear-gradient(90deg, #2b2edf, #69a0e0);
  color: rgb white;
  padding: 10px;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #5154f5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 16px;
}

button:hover {
  background-color: #3560ec;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #3680f0;
  color: white;
}